@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova";
  color: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 100px 0;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/main-bg.png) no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 500px;
}

.header-content__title {
  text-transform: uppercase;
  font-size: 80px;
  color: #ffffff;
  font-weight: 900;
}

.header-content__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px 32px;
  background: #000000;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 60px;
}

.nav {
  width: 100%;
  height: 109px;
  background: black;
  padding: 0 100px;
  color: #ffffff;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav .navbar-items {
  margin-left: 41px;
}

.nav .navbar-items__item {
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 18px;
  color: "";
  font-weight: 700;
  letter-spacing: 1px;
}

.nav .utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 18px;
  color: "";
  font-weight: 700;
}

.nav .utils-search {
  margin-right: 30px;
}

.nav .utils-shop span {
  margin-left: 5px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 120px;
}

.slider .arrow {
  font-size: 200px;
  color: rgba(128, 128, 128, 0.5);
  font-weight: "";
}

.slider .arrow-left {
  margin-right: 50px;
}

.slider .arrow-right {
  margin-left: 50px;
}

.slider-container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.slider-item__img img {
  opacity: 0.5;
}

.slider-item__text {
  font-size: 24px;
  color: black;
  font-weight: "";
  margin-top: 30px;
  text-transform: uppercase;
  opacity: 0;
}

.slider-item-active .slider-item__img img {
  opacity: 1;
}

.slider-item-active .slider-item__text {
  opacity: 1;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-header__title {
  font-size: 48px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.section-header__subtitle {
  font-size: 18px;
  color: black;
  font-weight: "";
  text-transform: uppercase;
  margin-bottom: 27px;
}

.section-header__icon {
  width: 36px;
  height: 36px;
  position: relative;
}

.section-header__icon::before, .section-header__icon::after {
  content: "";
  width: 100%;
  height: 3px;
  background: black;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-header__icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.texts {
  background: url(../img/bg_image.png) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  color: white;
  padding-top: 251px;
}

.bigt {
  margin-left: 218px;
  width: 415px;
  height: 91px;
  font-size: 31px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}

.smallt {
  width: 596px;
  height: 314px;
  margin-top: 81px;
  margin-left: 222px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  line-height: 30px;
  color: #c9c9c9;
  letter-spacing: normal;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.features__text {
  font-size: 48px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.features__icon {
  width: 36px;
  height: 36px;
  position: relative;
  margin-bottom: 86px;
}

.features__icon::before, .features__icon::after {
  content: "";
  width: 100%;
  height: 3px;
  background: black;
  position: absolute;
  top: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.features__icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: reverse;
          flex-direction: reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 27px;
}

.features-item {
  margin-right: 27px;
}

.features-item__text {
  text-transform: capitalize;
  width: 212px;
  height: 41px;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
}

#footer {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.products {
  width: 93px;
  height: 175px;
  margin-top: 78px;
  line-height: 30px;
}

.products__textb {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 900;
}

.products__textsm {
  font-size: 14px;
  font-weight: 100;
  color: #c9c9c9;
}

.about {
  width: 198px;
  height: 175px;
  line-height: 30px;
  margin-top: 78px;
  margin-left: 149px;
}

.about__textb {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 900;
}

.about__textsm {
  font-size: 14px;
  color: #c9c9c9;
  font-weight: 100;
}

.support {
  width: 177px;
  height: 175px;
  margin-left: 77px;
  margin-top: 78px;
  line-height: 30px;
}

.support__textb {
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
}

.support__textsm {
  font-size: 14px;
  color: #c9c9c9;
  font-weight: 100;
}

.newsletter {
  width: 218px;
  height: 175px;
  margin-top: 78px;
  margin-left: 90px;
}

.newsletter__textb {
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
}

.fled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="text"] {
  width: 162px;
  height: 42px;
  background: #ffffff;
  padding: 16px 0 13px 14px;
  border: none;
  margin-top: 25px;
}

.social {
  margin-top: 30.5px;
}

.button {
  width: 58px;
  height: 42px;
  background-color: #c7c7c7;
  text-transform: uppercase;
  color: #010101;
  font-weight: extra-bold;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 25px;
  padding: 8px 18px;
  cursor: pointer;
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.kk {
  margin-right: 660px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.ended {
  margin-right: 11px;
}
/*# sourceMappingURL=style.css.map */